<form [formGroup]="scheduleTramForm" class="tram_form" (submit)="handleSubmit($event)">
  <h1>Расписание трамваев Ижевск</h1>
  <mat-form-field>
    <mat-label>Выберете маршрут</mat-label>
    <mat-select formControlName="tramRoute">
      <mat-option *ngFor="let route of routes" [value]="route.Value">{{route.Name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input
      type="text"
      formControlName="tramsStationFrom"
      [matAutocomplete]="auto"
      placeholder="Станция отправления"
      matInput
      (input)="handleChangeStation($event.target.value)"
    >
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let station of stations" [value]="station">
        {{station.Name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field>
    <input
      type="text"
      formControlName="tramsStationTo"
      [matAutocomplete]="autoTo"
      placeholder="Станция отправления"
      matInput
      (input)="handleChangeStation($event.target.value)"
    >
    <mat-autocomplete #autoTo="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let station of stationsFiltered()" [value]="station">
        {{station.Name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field appearance="fill"
  (click)="picker.open()"
  >
    <mat-label>Choose a date</mat-label>
    <input
      matInput
      [matDatepicker]="picker"
      formControlName="scheduleTrams"
      disabled
      >
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker touchUi disabled="false"></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Choose time</mat-label>
    <input matInput [ngxTimepicker]="timePicker" [format]="24" formControlName="scheduleTramsTime">
    <ngx-material-timepicker #timePicker></ngx-material-timepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Choose duration</mat-label>
    <input matInput placeholder="time" formControlName="timeTrams" type="text" pattern="[0-9]*">
  </mat-form-field>
</form>
