@import "../../../../variables.scss";

.sidebar {
  width: 256px;
  height: 100%;
  background: $MEDIUMSLATEBLUE;

  &_item {
    box-sizing: border-box;
    padding: 12px;

    a {
      text-decoration: none;
      color: silver;

      span {
        vertical-align: super;
        padding-left: 6px;
      }
    }

    &--active {
      color: #FFFFFF !important;
    }
  }
}
