.card {
  position: absolute;
  width: 1018px;
  height: 112px;
}
.wrapper {
  position: relative;
}

.wrapper:hover {
  top: -2px;
  box-shadow: -5px 5px 5px 0px rgba(34, 60, 80, 0.3);
}

.card-0 {

  z-index: 3;
}

.card-move {
  transform: translateX(-50px);
  opacity: 0;
  transition: transform 0.3s, opacity 0.3s;
  transition-timing-function: ease-in-out
}

.card-1 {
  z-index: 2;
  left: 10px;
  top: 10px;
  height: 88px;

  &.card-up {
    height: 112px;
    left: 0px;
    top: 0px;
    transition: height 0.3s, left 0.3s, top 0.3s;
    transition-timing-function: ease-in-out
  }
}

.card-2 {
  z-index: 1;
  height: 66px;
  top: 20px;
  left: 17px;
}

.container {
  margin-left: 300px;
  position: relative;
}

.container-2 {
  margin-top: 100px;
  margin-left: 30px;
}
