<p>people-list works!</p>
<a routerLink="people-card">go to people card</a>
<!-- <div class="container">
  <div class="wrapper">
    <div
      #element
      *ngFor="let banner of banners; index as i"
      class="card card-{{i}}"
    >
    <app-carusel-item>
      <app-banner
      [content]="banner"
      [position]="i"
      [container]="element"
      (goNext)="goNext($event)"
        ></app-banner>
    </app-carusel-item>
    </div>
  </div>
</div>

<div class="container">
  <div class="wrapper">
    <div
      #element2
      *ngFor="let banner of banners; index as i"
      class="card card-{{i}}"
    >
    <app-carusel-item>
      <app-banner
      [content]="banner"
      [position]="i"
      [container]="element2"
      (goNext)="goNext2($event)"
      ></app-banner>
    </app-carusel-item>
    </div>
  </div>
</div> -->

<div class="container">
  <div class="wrapper-carusel">
    <app-carusel
      [content]="banners"
    ></app-carusel>
  </div>
</div>

