<div
  [@stepByStep]="toggle ? 'first': 'second'"
  (@stepByStep.start)="handleStartAnimate($event)"
  (@stepByStep.done)="handleEndAnimate($event)"
>
  <ng-container *ngFor="let banner of content; index as i">
    <carusel-item
      [items]="content"
      [position]="i"
      [animateClasses]="getClassesAnimate(i)"
      [isAnimate]="isAnimate"
    >
      <app-banner
        (goNext)="goToNext($event)"
        [content]="banner"
      ></app-banner>
    </carusel-item>
  </ng-container>
</div>


