@import '../../../../variables.scss';

.header {
  height: 80px;
  background: $darkgrey;
  padding: 0px 255px;
  border-bottom: 1px solid rgba(133, 143, 164, 0.15);
}

.mat-icon {
  width: 280px;
  height: 29px;
  margin-top: 22px;
}
