
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  color: black;
  background-color: white;

  &.dark-theme {
    color: white;
    background-color: violet;

    a {
      color: #7fc9ff
    }
  }
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
